:root {
    /*  COLORS  */
    --text-color: #333;
    --label-text-color: #fff;
    --label-background-color: #333;
    --primary-color: #08477B;
    --primary-color-hover: #157EBF;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

html {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 3rem;
    width: 90%;
}

header {
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-hover));
    border-radius: 10px;
    width: 100%;
    height: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NavBar {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: space-between;
    width: 100%;
}

.NavBar a {
    margin: 0.5rem;
    text-decoration: none;
    color: var(--label-text-color);
    padding: 0.5rem;
    border-radius: 1px;
}

.NavBar a:hover {
    background: var(--label-background-color);
}

.TitleContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

h1 {
    font-size: 35px;
    color: var(--label-text-color);
    width: 20rem;
}

label {
    text-decoration: underline;
    background: var(--label-background-color);
    color: var(--label-text-color);
    padding: 0.5rem;
    border-radius: 5px;
}

button {
    background: var(--primary-color);
    color: var(--label-text-color);
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
}

button:hover {
    background: var(--primary-color-hover);
    color: var(--label-text-color);
}

form *{
    margin: 0.5rem;
}

.DescriptionContainer{
    font-weight: bold;
}

#rmlFile{
    border-radius: 5px;
    padding: 0.5rem;
}

#rmlFile:hover {
    cursor: pointer;
    background: #156bb1;
    color: #fff;    
}

.Plot {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.Plot p{
    background: var(--label-background-color);
    color: var(--label-text-color);
    padding: 0.5rem;
    border-radius: 5px;
    height: 100%;
}

.Plot u{
    color: var(--label-text-color)
}

/* DEBUGGING STYLES */
.ExceptionContainer p {
    color: red;
    padding: 0.5rem;
}