* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

html {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 90%;
}

.TitleContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

h1 {
    font-size: 35px;
}

#rayx-logo {
    width: 10rem;
}

label {
    text-decoration: underline;
    background: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.GetRequestContainer{
    background: green;
    text-align: center;
}

.GetRequestContainer h2{
    color: white;
}

.DisplayContainer {
    background: #cdcdcd;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
    height: 30rem;
    overflow-x: scroll;
    overflow-y: scroll;
}

.H5ContentContainer {
    display: flex;
    flex-flow:row;
    
}

tbody tr:nth-child(even){
    background: #b1b0b0;
}

tbody{
    margin: 1rem;
}

table td + td , table th + th{ border-left:2px solid black; }

button {
    background: #08477B;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
}

button:hover {
    background: #156bb1;
    color: #fff;
}

form *{
    margin: 0.5rem;
}

.DescriptionContainer{
    font-weight: bold;
}

#rmlFile{
    border-radius: 5px;
    padding: 0.5rem;
}

#rmlFile:hover {
    cursor: pointer;
    background: #156bb1;
    color: #fff;    
}

/* DEBUGGING STYLES */
.ExceptionContainer p {
    color: red;
}