:root {
    /*  COLORS  */
    --text-color: #333;
    --label-text-color: #fff;
    --label-background-color: #333;
    --primary-color: #08477B;
    --primary-color-hover: #0b6ebe;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

html {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 90%;
}

.TitleContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

h1 {
    font-size: 35px;
}

label {
    text-decoration: underline;
    background: var(--label-background-color);
    color: var(--label-text-color);
    padding: 0.5rem;
    border-radius: 5px;
}

button {
    background: var(--primary-color);
    color: var(--label-text-color);
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
}

button:hover {
    background: var(--primary-color-hover);
    color: var(--label-text-color);
}

form *{
    margin: 0.5rem;
}

.DescriptionContainer{
    font-weight: bold;
}

#rmlFile{
    border-radius: 5px;
    padding: 0.5rem;
}

#rmlFile:hover {
    cursor: pointer;
    background: #156bb1;
    color: #fff;    
}

.Plot {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.Plot p{
    background: var(--label-background-color);
    color: var(--label-text-color);
    padding: 0.5rem;
    border-radius: 5px;
    height: 100%;
}

.Plot u{
    color: var(--label-text-color)
}

/* DEBUGGING STYLES */
.ExceptionContainer p {
    color: red;
    padding: 0.5rem;
}