:root {
    /*  COLORS  */
    --text-color: #333;
    --label-text-color: #fff;
    --label-background-color: #333;
    --primary-color: #08477B;
    --primary-color-hover: #157EBF;
    --primary-background-color: #fff;
    --secondary-background-color: #F2F2F2;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

html {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 3rem;
    width: 90%;
}

header {
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-hover));
    border-radius: 10px;
    width: 100%;
    height: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NavBar {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: space-between;
    width: 100%;
}

.NavBar a {
    margin: 0.5rem;
    text-decoration: none;
    color: var(--label-text-color);
    padding: 0.5rem;
    border-radius: 1px;
}

.NavBar a:hover {
    background: var(--label-background-color);
}

.TitleContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

main{
    width: 100%;
}

.MainContent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: var(--secondary-background-color);
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
}

.ToolNavBar{
    display: flex;
    flex-flow: row;
    align-items: start;
    width: 100%;
}

.ToolNavBar a{
    margin-left: 1rem;
    background: var(--secondary-background-color);
    color: var(--text-color);
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    text-decoration: none;
    padding: 0.5rem;
}

.ToolNavBar a:hover{
    cursor: pointer;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color-hover));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--label-text-color);
}

h1 {
    font-size: 35px;
    color: var(--label-text-color);
    width: 20rem;
}

label {
    text-decoration: none;
    background: var(--label-background-color);
    color: var(--label-text-color);
    padding: 0.5rem;
    border-radius: 5px;
}

button {
    background: var(--primary-color);
    color: var(--label-text-color);
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
}

button:hover {
    background: var(--primary-color-hover);
    color: var(--label-text-color);
}

form *{
    margin: 0.5rem;
}

.FormContainer {
    display: flex;
    flex-flow: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--secondary-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    align-items: center;
    min-width: 20rem;
}

.FormContainer form{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
}

.DescriptionContainer{
    font-weight: bold;
    align-items: center;
    margin: 1rem;
}

#rmlFile{
    border-radius: 5px;
    padding: 0.5rem;
}

#rmlFile:hover {
    cursor: pointer;
    background: #156bb1;
    color: #fff;    
}

.ReflectivitySettingsContainer {
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    padding: 0.3rem;
}

.Plot {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.Plot p{
    background: var(--label-background-color);
    color: var(--label-text-color);
    padding: 0.5rem;
    border-radius: 5px;
    height: 100%;
}

.Plot u{
    color: var(--label-text-color)
}

input[type="file"] {
    display: none;
}

.fileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.3s;
}

.fileUpload:hover {
    background: #156bb1;
    color: #fff;
}

/* HTML: <div class="loader"></div> */
.loader {
    margin: 3rem;
    width: 10rem;
    aspect-ratio: 2;
    --c:linear-gradient(#FFD412 25%,#ABD406 0 50%,#FF821C 0 75%,#FFD412 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 26% 400%;
    background-position: calc(0*100%/3) 100%,calc(1*100%/3) 100%,calc(2*100%/3) 100%,calc(3*100%/3) 100%;
    background-repeat: no-repeat;
    animation: l10 2s infinite; 
  }
  @keyframes l10 {
    0%     {background-position: calc(0*100%/3) calc(3*100%/3),calc(1*100%/3) calc(3*100%/3),calc(2*100%/3) calc(3*100%/3),calc(3*100%/3) calc(3*100%/3)}
    8.33%  {background-position: calc(0*100%/3) calc(2*100%/3),calc(1*100%/3) calc(3*100%/3),calc(2*100%/3) calc(3*100%/3),calc(3*100%/3) calc(3*100%/3)}
    16.67% {background-position: calc(0*100%/3) calc(2*100%/3),calc(1*100%/3) calc(2*100%/3),calc(2*100%/3) calc(3*100%/3),calc(3*100%/3) calc(3*100%/3)}
    25%    {background-position: calc(0*100%/3) calc(2*100%/3),calc(1*100%/3) calc(2*100%/3),calc(2*100%/3) calc(2*100%/3),calc(3*100%/3) calc(3*100%/3)}
    30%,
    33.33% {background-position: calc(0*100%/3) calc(2*100%/3),calc(1*100%/3) calc(2*100%/3),calc(2*100%/3) calc(2*100%/3),calc(3*100%/3) calc(2*100%/3)}
    41.67% {background-position: calc(0*100%/3) calc(1*100%/3),calc(1*100%/3) calc(2*100%/3),calc(2*100%/3) calc(2*100%/3),calc(3*100%/3) calc(2*100%/3)}
    50%    {background-position: calc(0*100%/3) calc(1*100%/3),calc(1*100%/3) calc(1*100%/3),calc(2*100%/3) calc(2*100%/3),calc(3*100%/3) calc(2*100%/3)}
    58.33% {background-position: calc(0*100%/3) calc(1*100%/3),calc(1*100%/3) calc(1*100%/3),calc(2*100%/3) calc(1*100%/3),calc(3*100%/3) calc(2*100%/3)}
    63%,
    66.67% {background-position: calc(0*100%/3) calc(1*100%/3),calc(1*100%/3) calc(1*100%/3),calc(2*100%/3) calc(1*100%/3),calc(3*100%/3) calc(1*100%/3)}
    75%    {background-position: calc(0*100%/3) calc(0*100%/3),calc(1*100%/3) calc(1*100%/3),calc(2*100%/3) calc(1*100%/3),calc(3*100%/3) calc(1*100%/3)}
    83.33% {background-position: calc(0*100%/3) calc(0*100%/3),calc(1*100%/3) calc(0*100%/3),calc(2*100%/3) calc(1*100%/3),calc(3*100%/3) calc(1*100%/3)}
    91.67% {background-position: calc(0*100%/3) calc(0*100%/3),calc(1*100%/3) calc(0*100%/3),calc(2*100%/3) calc(0*100%/3),calc(3*100%/3) calc(1*100%/3)}
    97%,
    100%   {background-position: calc(0*100%/3) calc(0*100%/3),calc(1*100%/3) calc(0*100%/3),calc(2*100%/3) calc(0*100%/3),calc(3*100%/3) calc(0*100%/3)}
  }

/* DEBUGGING STYLES */
.ExceptionContainer p {
    color: red;
    padding: 0.5rem;
}
