{% extends "base.html" %}

{% block main %}
    <div class = "FormContainer">
        <form action="{{url_for('display_handle_post')}}" method="POST" enctype="multipart/form-data">
            <label for="rmlFile">Upload RML File: </label>
            <input type="file" id="rmlFile" name="rmlFile" accept=".rml"> 
            <button type="submit">Send</button>
        </form>
    </div>
    {% block received %}
        {% endblock %}
        <hr>
        <div class="PlotsContainer">
            {% for plot in plot_data %}
                <img src="data:image/png;base64,{{ plot }}" alt="Result Plot">
            {% endfor %}
        </div>
        <div class="PlotInfo">
            <p>Plot Info</p>
            <!-- TODO: FIX LATER
            <p>FWHM_X: {{ FWHM_X }}     FWHM_Y: {{ FWHM_Y }}</p>
            <p>Focus: X={{ focus_x }}   Y={{ focus_y }}</p>
            -->
        </div>
{% endblock %}