{% extends "base.html" %}

{% block main %}
    <div class = "FormContainer">
        <form action="{{url_for('display_handle_post')}}" method="POST" enctype="multipart/form-data">
            <label for="rmlFile">Upload RML File: </label>
            <input type="file" id="rmlFile" name="rmlFile" accept=".rml"> 
            <button type="submit">Send</button>
        </form>
    </div>
    {% block received %}
        {% endblock %}
        <hr>
        <h2 style=
            "margin-top: 3rem;
            border: black 1px solid;
            padding: 1rem;"
        >{{ RMLFileName }}</h2>
        <div class="PlotsContainer">
            {% for plot in plot_data %}
                <div class="Plot">
                    <div>{{ plot.plot_html | safe }}</div>
                    <div class="PlotInfo">
                        <p>
                            <b><u>FWHM</u></b><br>
                            X: {{ plot.fwhmX }}<br>
                            Y: {{ plot.fwhmY }}<br>
                            <b><u>Center of mass</u></b><br>
                            X: {{ plot.histogramDataX.info["centerOfMass"] }} <br>
                            Y: {{ plot.histogramDataY.info["centerOfMass"]}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}