{% extends "base.html" %}

{% block main %}
    <div class = "FormContainer">
        <form action="{{url_for('display_handle_post')}}" method="POST" enctype="multipart/form-data">
            <label for="rmlFile">Upload RML File: </label>
            <input type="file" id="rmlFile" name="rmlFile" accept=".rml"> 
            <button type="submit">Send</button>
        </form>
    </div>
    {% block received %}
        {% endblock %}
        <hr>
        <div class="DisplayContainer">
            {% if H5Content is defined and H5Content %}
            <h2>H5 File Name: {{ H5FileName }}</h2>
            <table>
                <thead>
                <tr>
                    <th>Line</th>
                    {% for col in H5Content[0].keys() %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for event in H5Content %}
                    <tr>
                        <!-- Display line number just for readability purposes -->
                        <td>{{ loop.index0 }}</td>
                        {% for value in event.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <!-- No data to display -->
            {% endif %}
        </div>
{% endblock %}